<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/about/about-1.jpg" alt="">
        </div>
      </div> 
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
          <h3>Hi guys!</h3>
          <p>First of all I would like to thank you for taking your time visiting my website.
            This simple site is a part of my practice on utilizing modern web technolgies such as Angular and NodeJS.
            It has been my goal to create my own resume and boast it to my friends and colleagues.
            But my main purpose is to learn and to be honest learning is really challenging but the satisfaction I get is what I love about it.
            Anyway, feel free to scroll on my site. If you have any question, please don't hesitate to contact me.
          </p>
          <div class="about-profile">
            <ul class="admin-profile">
              <li><span class="pro-title"> Name </span> <span class="pro-detail">{{ kev.name }}</span></li>
              <li><span class="pro-title"> Age </span> <span class="pro-detail">{{ kev.age }} Years</span></li>
              <li><span class="pro-title"> Experience </span> <span class="pro-detail">{{ kev.experience }} Years</span></li>
              <li><span class="pro-title"> Country </span> <span class="pro-detail">{{ kev.country }}</span></li>
              <li><span class="pro-title"> Location </span> <span class="pro-detail">{{ kev.location }}</span></li>
              <li><span class="pro-title"> e-mail </span> <span class="pro-detail">{{ kev.email }}</span></li>
              <li><span class="pro-title"> Phone </span> <span class="pro-detail">{{ kev.phone }}</span></li>
              <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
            </ul>
          </div>
          <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
          <a href="#contact" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
        </div>
      </div>   
    </div>
  </div>
</section>
<!-- About Section End -->